<section class="skills">
    <h2>Habilidades</h2>
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Más de 10 años programando</li>
            <li class="breadcrumb-item">5 años en diseño web</li>
            <li class="breadcrumb-item active" aria-current="page">2 años liderando proyectos</li>
        </ol>
    </nav>
    <p>2006 fue el año en el que empecé a programa en PHP trabajando para una pequeña editorial médica, hoy en día soy un FullStack developer que desarrolla los proyectos desde su planeación hasta su implementación y ejecución, pasando la elaboración de planes de trabajo, diseño de interfaz de usuario, diseño web, programación y reportes continuos de avances. </p>

    <div class="row">
        <div class="col-sm-10">
            <h4>PHP</h4>
        </div>
        <div class="col-sm-2">
            <h5>80%</h5>
        </div>
    </div>

    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0"
            aria-valuemax="100" style="width: 80%">
            <span class="sr-only">80% completado (peligro / error)</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <h4>Javascript</h4>
        </div>
        <div class="col-sm-2">
            <h5>75%</h5>
        </div>
    </div>
    
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100" style="width: 70%">
            <span class="sr-only">70% completado (peligro / error)</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <h4>TypeScript</h4>
        </div>
        <div class="col-sm-2">
            <h5>60%</h5>
        </div>
    </div>
    
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0"
            aria-valuemax="100" style="width: 60%">
            <span class="sr-only">60% completado (peligro / error)</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <h4>Bases de datos</h4>
        </div>
        <div class="col-sm-2">
            <h5>75%</h5>
        </div>
    </div>
    
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100" style="width: 75%">
            <span class="sr-only">75% completado (peligro / error)</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <h4>Diseño Web</h4>
        </div>
        <div class="col-sm-2">
            <h5>65%</h5>
        </div>
    </div>
    
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0"
 aria-valuemax="100" style="width: 65%">
            <span class="sr-only">65% completado (peligro / error)</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <h4>Líder de proyecto</h4>
        </div>
        <div class="col-sm-2">
            <h5>45%</h5>
        </div>
    </div>
    
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0"
            aria-valuemax="100" style="width: 45%">
            <span class="sr-only">45% completado (peligro / error)</span>
        </div>
    </div>

</section>