<div class="container">
	<div class="row">
		<div class="col-sm-1">
			<span class="btn-hamburguesa">
				<button class="btn-hamburguesa">
					<i class="icofont-navigation-menu"></i>
				</button>
			</span>
			<ul class="nav-list">
				<li><a [routerLink]="['/']"><i class="icofont-user-alt-5"></i></a></li>
				<li><a [routerLink]="['/contacto']"><i class="icofont-phone"></i></a></li>
				<li><a [routerLink]="['/blog']"><i class="icofont-notebook"></i></a></li>
				<li><a [routerLink]="['/portfolio']"><i class="icofont-briefcase"></i></a></li>
				<li><a [routerLink]="['/skills']"><i class="icofont-diamond"></i></a></li>  
			</ul>
			<span class="btn-descarga">
				<button class="btn-descarga">
					<i class="icofont-download-alt"></i>
				</button>
			</span>
		</div>
		<div class="col-sm-11">
			<div class="row">
				<div class="col-sm-4">
					<div class="main-picture">
						&nbsp;
					</div>
					<h1>Marco Antonio Izaguirre Sierra</h1>
					<span class="subtitulo">Programador Web</span>
					<hr class="left-col">
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-sm-2"><i class="btn-red-social icofont-facebook icofont-1x"></i></div>
						<div class="col-sm-2"><i class="btn-red-social icofont-twitter icofont-1x"></i></div>
						<div class="col-sm-2"><i class="btn-red-social icofont-linkedin icofont-1x"></i></div>
						<div class="col-sm-2"><i class="btn-red-social icofont-stack-overflow icofont-1x"></i></div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="main-section">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#marqModal">
	Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="marqModal" tabindex="-1" role="dialog" aria-labelledby="marqModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="icofont-close-squared-alt"></i>
				</button>
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn fondo-verde-chillon">Save changes</button>
			</div>
		</div>
	</div>
</div>
