<div class="jumbotron">
    <h1 class="display-4">¡Gracias!</h1>
    <p class="lead">Por compartime tus datos {{nombre}}, ahora déjame compartirte los míos:</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="#" role="button"><i class="icofont-file-document"></i> Descargar CV</a>
      <a class="btn btn-secondary btn-sm" href="#" role="button"><i class="icofont-briefcase"></i> Ver proyectos</a>
      <a class="btn btn-light btn-sm" href="#" role="button"><i class="icofont-ui-contact-list"></i> Datos de contacto</a>
      <a class="btn btn-dark btn-sm" href="#" role="button"><i class="icofont-book-alt"></i> Libro de visitas</a>
    </p>
  </div>
