<section class="blog">
    <h2>Blog</h2>
    <hr>
    <div class="row blog-entry">
        <div class="col-sm-6">
            <img src="https://via.placeholder.com/300x200">
        </div>
        <div class="col-sm-6">
            <h3>Entrada de prueba</h3>
            <small>6 de Octubre de 2019</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sit optio necessitatibus ad ipsa at
                dicta amet eaque, in eum molestias enim, natus officia libero cumque, consectetur recusandae sunt nam.
            </p>
        </div>
    </div>

    <div class="row blog-entry">
        <div class="col-sm-6">
            <img src="https://via.placeholder.com/300x200">
        </div>
        <div class="col-sm-6">
            <h3>Entrada de prueba</h3>
            <small>6 de Octubre de 2019</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sit optio necessitatibus ad ipsa at
                dicta
                amet eaque, in eum molestias enim, natus officia libero cumque, consectetur recusandae sunt nam.</p>
        </div>
    </div>

    <div class="row blog-entry">
        <div class="col-sm-6">
            <img src="https://via.placeholder.com/300x200">
        </div>
        <div class="col-sm-6">
            <h3>Entrada de prueba</h3>
            <small>6 de Octubre de 2019</small>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sit optio necessitatibus ad ipsa at
                dicta
                amet eaque, in eum molestias enim, natus officia libero cumque, consectetur recusandae sunt nam.</p>
        </div>
    </div>
</section>