<section class="home">
    <p class="gris">Padre de familia, amante de las nuevas tecnlogías y de actualizarme en los temas que me competen, más de 10 de experiencia en programación web colaborando con diferentes empresas. Actualmente desarrollando con Angular 8, Javascript, Jquery y PHP.</p>
    <hr>
    <h2>Mis servicios</h2>
    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-6">
            <i class="verde-chillon icofont-monitor icofont-3x"></i>
            <h3>Desarrollo</h3>
            <p>Sistemas a la medida, front end, base de datos, CMSs, ERPs, análisis e implementación, WEBApps y MObileApps (Android nativo, MacOS y Android con Angular y Ionic).</p>
        </div>
        <div class="col-sm-6">
            <i class="verde-chillon icofont-rocket icofont-3x"></i>
            <h3>Optimización</h3>
            <p>Análisis y diagnóstico de procesos, modernización y estabilización de sistemas muy antiguos o con problemas, detección de oportunidades de mejora.</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-6">
            <i class="verde-chillon icofont-database-locked icofont-3x"></i>
            <h3>Bases de datos</h3>
            <p>Análisis, diseño e implementación de bases de datos, corrección y/u optimización, detección de oportunidades de mejora.</p>
        </div>
        <div class="col-sm-6">
            <i class="verde-chillon icofont-paint icofont-3x"></i>
            <h3>Diseño web avanzado</h3>
            <p>Diseño web avanzado, wireframes, GIMP, Krita, HTML5, CSS3.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <i class="verde-chillon icofont-disabled icofont-3x"></i>
            <h3>Accesibilidad Web</h3>
            <p>Experto en generación de sitios web y documentos digitales accesibles.</p>
        </div>
        <div class="col-sm-6">
            <i class="verde-chillon icofont-business-man-alt-2 icofont-3x"></i>
            <h3>Líder de proyecto</h3>
            <p>Reportes semanales con cédulas de avance, Microsoft Project, planes trabajo, manejo de recursos, documentación, enfocado a resultados y obtención de metas.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <i class="verde-chillon icofont-star icofont-5x"></i>
            <h3>Procesos de aseguramiento de la calidad</h3>
            <p>Por medio de una serie de procesos concentrados en brindar un producto de calidad al usuario final del sistema</p>
        </div>
    </div>
    <hr>
    <h2>Consultoría</h2>
    <div class="row consultoria">
        <div class="consultoria-item col-sm-4">
            <h3>Básica</h3>
            <span class="costo">$399.00 <small>por hora</small></span>
            <ul class="planes">
                <li>Consultoria</li>
                <li>Desarrollo</li>
                <li>Optimización</li>
                <li>Soporte L a V, 9 a 18 hrs</li>
            </ul>
            <button class="btn btn-danger fondo-verde-chillon">Seleccionar</button>
        </div>
        <div class="consultoria-item col-sm-4">
            <h3>Corporativa</h3>
            <span class="costo">$699.00 <small>por hora</small></span>
            <ul class="planes">
                <li>Consultoria</li>
                <li>Desarrollo</li>
                <li>Optimización</li>
                <li>Soporte L a V, 9 a 18 hrs</li>
            </ul>
            <button class="btn btn-danger fondo-verde-chillon">Seleccionar</button>
        </div>
        <div class="consultoria-item col-sm-4">
            <h3>Empresarial</h3>
            <span class="costo">$999.00 <small>por hora</small></span>
            <ul class="planes">
                <li>Consultoria</li>
                <li>Desarrollo</li>
                <li>Optimización</li>
                <li>Soporte L a V, 9 a 18 hrs</li>
            </ul>
            <button class="btn btn-danger fondo-verde-chillon">Seleccionar</button>
        </div>
    </div>
</section>
